:regions {:Ch0 "First side chamber after crawing down from the pig hole"
          :Ch1 "First chamber with `tower of pisa` and the lizard hole"
          ;;:Tun1 "The tunnel connecting `Ch1` and `Ch2`"
          :Ch2 "Second chamber, with the sink hole and two shelves"}
:sepeleo {:Ch0Dip01 "In the dip at the back of the room, the lower stalagmite in a pair is being monitored"
          :Ch1Liz01 "The long clean stalagmite growing out of the mud in the muddy holes with lizard claw marks"
          :Ch2Sh01A "First shelf on the immediate right once you enter the chamber. Clean white thumb"
          :Ch2Sh01B "First shelf on the immediate right once you enter the chamber. Longer white"
          :CH2Sh02A "Second shelf, at the back of the room. Left most pair, left one (furthest from right-side ramp)"
          :CH2Sh02B "Second shelf, at the back of the room. Left most pair, right one"
          :CH2SoloA "Below the second shelf, as you go to the rimmed pool. Sticking out of the side wall"}
:gauges {:RG01 :spoon ;; aka "tipping spoon"
         :RG02 :seesaw ;;aka "tipping bucket"
         :RG03
         :RG04
         :RG05
         :RG06
         :RG07
         :RG08
         :RG09
         :RG10}
:boards {;; First Rainuses
         :FR5 1645240 
         :FR3 8373316 
         :FR4 7598252 
         :FR2 1683136 
         :FR1 8371400 
         :FR6 1641660 
         :FR7 7598984
         ;; Rainuses (v2)
         :R01 
         :R02
         :R03
         :R04
         :R05
         :R06
         :R07
         :R08
         :R09
         :R10
         :R11
         :R12
         :R13
         :R14
         :R15
         :R16
         :R17
         :R18
         :R19
         :R20}
:chips {1645240 :FR5
        8373316 :FR3
        7598252 :FR4
        1683136 :FR2
        8371400 :FR1
        1641660 :FR6
        7598984 :FR7
:bottles {:X
          :A
          :C
          :B
          :D}
;; :vial ;; id list is huge

{:date #inst"2023-10-05"
 :comment
 "
 "
 :speleos {:SC1
           :T1
           :Sh2
           Sh{:gauge
         :board
         :bottle
         :vial
