{:gauges             {:RG01 {:mechanism :spoon};; aka "tipping spoon"
                      :RG02 {:mechanism :seesaw} ;;aka "tipping bucket"
                      :RG03 {:mechanism :seesaw}
                      :RG04 {:mechanism :seesaw}
                      :RG05 {:mechanism :seesaw} ;; renamed 75 (used to be 7)
                      :RG06 {:mechanism :seesaw} ;; renamed 86 (used to be 8)
                      :RG07 {:mechanism :seesaw} ;; doesn't exist?
                      :RG08 {:mechanism :seesaw} ;; doesn't exist?
                      :RG09 {:mechanism :seesaw}
                      :RG10 {:mechanism :seesaw}}
 :board-name2chip-id {;; First Rainuses
                      :FR5 1645240 ;;
                      :FR3 8373316 ;;
                      :FR4 7598252 ;;
                      :FR2 1683136 ;;
                      :FR1 8371400 ;;
                      :FR6 1641660 ;;
                      :FR7 7598984
                      ;; Rainuses (v2) ;; marked with an `X` are ones that were reconstructed from files sent by Nong
                      :R01 8364224
                      :R02 8364236
                      :R03 11920724
                      :R04 11482312
                      :R05 11823060
                      :R06 11821160
                      :R07 11822872
                      :R08 11821380
                      :R09 11823072
                      :R10 11821868
                      :R11 11482356
                      :R12 11821772
                      :R13 11482584
                      :R14 11482308
                      :R15 11822844
                      :R16 11821084
                      :R17 11823076 ;; seems to only do one reading
                      :R18 11822372 ;; also seems to do only one reading
                      :R19 11482272
                      :R20 11821804}
 :bottles            {:X {:type nil}
                      :A {:type nil}
                      :C {:type nil}
                      :B {:type nil}
                      :D {:type nil}
                      :N {:type nil}}}
;; :chips  {1645240  :FR5
;;          8373316  :FR3
;;          7598252  :FR4
;;          1683136  :FR2
;;          8371400  :FR1
;;          1641660  :FR6
;;          7598984  :FR7
;;          :bottles {:X
;;                    :A
;;                    :C
;;                    :B
;;                    :D}}}


;; :vial can have values of
{:EMPTY "no water"
 `;;:NONE   "Optional value.. water not collected. Collection stopped"
 :START "Collection restarted"
 nil    "default: no water collection - still accumulating"}

#_   ;; this was copied from `rainusage/data/logger-serial-numbers.edn`
{11482312 :R04
 11821160 :R06
 11821380 :R08
 11823060 :R05
 11823072 :R09
 8364224  :R01
 11482308 :R14
 11822844 :R15
 11821084 :R16
 11823076 :R17 ;; broken?? Only does one reading
 11822372 :R18 ;; simiarly broken
 11821804 :R20
 }
